/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    color: #000;
    background-color: #fff;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide scrollbars if you don't want any scrolling */
}

body {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100%; /* Ensure the body covers the full height */
    overflow-x: hidden; /* Hide horizontal scrollbar if the content is wider than the screen */
    overflow-y: auto;
}

@media only screen and (max-width: 767px) {
    html {
       background-image: url(pixel.jpg);
    }
  }

p {
    font-family: 'Lato', sans-serif;
}

/* Header and Navigation */
header {
    color: #000;
    padding: 0 20px;
    text-align: center;
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space between nav and social links */
}

nav {
    flex: 1; /* Allows nav to grow and take up space */
    text-align: center; /* Center the nav items */
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

/* About Me */
#about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for the section */
}

.profile-container {
    flex: 0 0 250px; /* Adjust size as necessary */
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 50px; /* Space between the image and the text */
}

.profile-picture {
    width: 100%;
    height: auto;
}

.info {
    max-width: 600px;
}

.info h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Information Paragraph */
.info p {
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Resume Button Style */
.resume-button {
    font-size: 16px;
    color: #000;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 20px auto;
    width: fit-content;
}

/* Resume Button Hover Effect */
.resume-button:hover {
    background-color: #808080;
    color: #fff;
    border-color: #808080;
}

/* Skill Section */
.skills-legend {
    margin-top: 10px;
}

.skills-legend h3 {
    font-size: 1em;
    margin-bottom: 10px;
}

.proficiency-levels {
    display: flex; /* This will lay out child divs in a row */
    justify-content: flex-start; /* Align children to the start of the container */
    flex-wrap: wrap; /* Allows the items to wrap onto the next line if there's not enough space */
}

.proficiency-levels div {
    margin-right: 15px; /* Space between each proficiency level item */
    white-space: nowrap; /* This will keep the percentage and text together on one line */
}

.legend-range {
    font-weight: bold; /* Make the range stand out */
    margin-right: 5px; /* Add space between the range and the description */
}

.skills-section {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-title-underline {
    height: 2px; /* Thickness of the line */
    background-color: #000; /* Color of the line */
    width: 20%;
    margin: 0 auto; /* Centers the line horizontally */
    position: relative; /* Ensure the line is placed correctly */
    top: -5px; /* Adjust the position of the line relative to the bottom of the title */
}

.skills-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.language,
.library,
.framework {
    width: 32%; /* Adjust the width as per requirement */
    margin-right: 2%; /* Adjust the margin as per requirement */
}

.skill {
    margin-bottom: 10px;
}

.skill label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.skill-bar {
    background-color: #808080;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block; /* Allows percentage to be placed next to the bar */
    width: calc(100% - 50px); /* Subtract the width of the percentage span */
    vertical-align: middle; /* Aligns the bar vertically with the percentage text */
}

.skill-level {
    background-color: #000;
    height: 100%;
    border-radius: 5px;
    display: block; /* Makes the div behave like a block element inside the inline-block skill-bar */
}

.skill-percentage {
    display: inline-block; /* Places the percentage inline with the skill bar */
    width: 40px; /* Give a fixed width for percentage */
    text-align: left; /* Aligns the text to the left */
    vertical-align: middle; /* Aligns the text vertically with the skill bar */
    margin-left: 0; /* Space between the skill bar and the percentage */
}

h2, h3 {
    text-align: center;
}

/* Project Section */
#projects {
    padding: 20px;
    text-align: center;
}

.title-underline {
    height: 2px; /* Thickness of the line */
    background-color: #000; /* Color of the line */
    width: 7%;
    margin: 0 auto; /* Centers the line horizontally */
    position: relative; /* Ensure the line is placed correctly */
    top: -5px; /* Adjust the position of the line relative to the bottom of the title */
}

.project-line {
    height: 2px; /* Thickness of the line */
    background-color: #000; /* Color of the line */
    width: 75%;
    margin: 0 auto; /* Centers the line horizontally */
    position: relative; /* Ensure the line is placed correctly */
    top: -10px; /* Adjust the position of the line relative to the bottom of the title */
}

.project-container {
    max-width: 1200px; /* Maximum width of the projects container */
    margin: auto; /* Center the container */
}

.project-item img {
    max-width: 75%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.project-item {
    padding: 20px; /* Padding inside project items */
    margin-bottom: 20px; /* Space between project items */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    transition: transform 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.project-item:hover {
    transform: translateY(-10px); /* Slight lift effect on hover */
}

.project-item h3 {
    font-size: 1.5rem; /* Size of the project title */
    color: #000; /* Color of the project title */
    margin-bottom: 10px; /* Space below the title */
}

.project-item p {
    font-size: 1rem; /* Size of the project description */
    color: #000; /* Color of the project description */
    margin-bottom: 20px; /* Space below the description */
}

.project-item button {
    display: inline-block;
    background: #000; /* Button color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    width: fit-content; /* Adjust width to the content of the button */
    margin: 20px auto; /* Center the button horizontally in the container */
    transition: background-color 0.3s ease;
    text-align: center; /* Centers the text horizontally */
    font-family: 'Roboto Condensed', cursive;
    text-transform: uppercase; /* Uppercase button text */
}

.project-item button:hover{
    background: #808080; /* Darker shade on hover */
}

/* Contact Section */
#contact {
    padding: 20px;
    text-align: center;
}

.contact-methods p {
    margin: 10px 0;
    font-size: 1.1em; /* Slightly larger font size for emphasis */
}

.contact-methods a {
    color: #000; /* Use a color that stands out but still fits the design */
    text-decoration: none; /* Removes underline from links */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.contact-methods a:hover {
    color: #808080; /* Darker color on hover */
}

/* Footer */
footer {
    color: #000;
    text-align: center;
    padding: 10px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    header nav ul li {
        display: block;
        margin: 5px 0;
    }
}
